doctype html
html(lang="en")
  head
    title User Profile
    link(rel="stylesheet", href="/css/styles.css")
  body
    .profile-container
      h1 User Profile
      if user
        .profile-info
          p
            strong Name: 
            | #{user.FirstName} #{user.LastName}
          p
            strong Email: 
            | #{user.Email}
          p
            strong Exercise Preference: 
            | #{user.ExercisePreference}
          p
            strong Expertise Level: 
            | #{user.Expertise}
          p
            strong Date of Birth: 
            | #{user.DateOfBirth}
      else
        p No user data available
