extends layout

block styles
  link(rel='stylesheet', href='/styles/userlist.css')

block content
  .container
    h1 Find Your Fitness Buddy
    .user-grid
      each user in data
        .user-card
          .user-info
            h2 #{user.FirstName} #{user.LastName}
            p.location
              strong Location: 
              span #{user.Location || 'Not specified'}
            p.level
              strong Level: 
              span #{user.Expertise || 'Not specified'}
          .button-group
            a.view-profile-btn(href=`/user-single/${user.UserID}`) View Profile
            button.request-btn(onclick="handleRequestClick(event)") Send Request

  script(src="/js/userlist.js")
