extends layout

block styles
  link(rel='stylesheet', href='/styles/userlist.css')

block content
  h1 Sport Buddy Users
  ul.user-list
    each user in data
      li.user-card
        .user-name #{user.FirstName} #{user.LastName}
        .user-details
          p Email: #{user.Email}
          p Exercise Preference: #{user.ExercisePreference}
          p Expertise Level: #{user.Expertise}
        a.view-profile(href=`/user-single/${user.UserID}`) View Profile
