extends layout

block styles
  link(rel='stylesheet', href='/styles/user-profile.css')

block content
  if user
    .profile-container
      .profile-header
        h1.profile-name #{user.FirstName} #{user.LastName}
      
      .profile-info
        .info-item
          span.info-label Email:
          span.info-value #{user.Email}
        if isOwnProfile
          .info-item
            span.info-label Date of Birth:
            span.info-value #{user.DateOfBirth ? new Date(user.DateOfBirth).toLocaleDateString() : 'Not specified'}
        .info-item
          span.info-label Exercise Preference:
          span.info-value #{user.ExercisePreference || 'Not specified'}
        .info-item
          span.info-label Expertise Level:
          span.info-value #{user.Expertise || 'Not specified'}
        .info-item
          span.info-label Location:
          span.info-value #{user.Location || 'Not specified'}
        if isOwnProfile
          .info-item
            span.info-label User ID:
            span.info-value #{user.UserID}
      
      .profile-actions
        if !isOwnProfile
          a.message-button(href=`/messages/${user.UserID}`) Send Message
        a.back-button(href="/userlist") Back to User List
  else
    p.error-message User not found 