extends layout

block styles
  link(rel='stylesheet', href='/styles/userlist.css')

block content
  .container
    h1 Find Your Fitness Buddy
    
    if suggestedBuddies && suggestedBuddies.length > 0
      .suggested-section
        h2 Buddies We Think You'll Like
        .suggested-grid
          each buddy in suggestedBuddies
            .user-card.suggested-card
              .match-badge Match!
              .user-info
                h2 #{buddy.FirstName} #{buddy.LastName}
                p.location
                  strong Location: 
                  span #{buddy.Location || 'Not specified'}
                p.preference
                  strong Preference: 
                  span #{buddy.ExercisePreference || 'Not specified'}
              .button-group
                a.view-profile-btn(href=`/user-single/${buddy.UserID}`) View Profile
                button.request-btn(onclick="handleRequestClick(event, '${buddy.UserID}')") Send Request
    
    h2 All Users
    .user-grid
      each user in data
        .user-card
          .user-info
            h2 #{user.FirstName} #{user.LastName}
            p.location
              strong Location: 
              span #{user.Location || 'Not specified'}
            p.level
              strong Level: 
              span #{user.Expertise || 'Not specified'}
          .button-group
            a.view-profile-btn(href=`/user-single/${user.UserID}`) View Profile
            a.message-btn(href=`/messages/${user.UserID}`) Message
            button.request-btn(onclick="handleRequestClick(event)") Send Request

  script(src="/js/userlist.js")
